*{
    padding:0;
    margin: 0;
}
body{
    font-family: 'ZCOOL XiaoWei', serif;
}
/*navbar*/
/*navigation bar*/

/*
.main .container-fluid{

    padding: 0px;
}


.content h2{

    font-size: 60px;
}

.main h4{

    font-weight: 400;
    font-size: 18px;
}
.content .let{
    padding:8px;
}
.content .btn-primary{
    
    background-color: #007373;
   border:none;
    cursor: pointer;
 
}
.content .btn-primary:hover{
    background-color: lightgray;
    color:#007373;
}
.content{

    margin-left: 80px;
    position: absolute;
    top:200px;

    color:#fff;
}
.content .start{

    font-size: 20px;

}
.main .navbar-nav{
    color:#fff;

}
.main{
    position:relative;
}

.main .l{

    background-color: rgba(0,0,0,0.6);
    position:absolute;
    top:0px;
    height:100%;
    width:100%;
}
.btn-white{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-white:hover{

    color: black;
    border-color: #fff;
    background-color: #fff;
}
.carousel-caption{

    top:30%;;
}

.main .carouselExampleIndicators{

    top:0px;
}

.navbar{

    height: 50px;
 
    background-color: #007373;

}


.portfolio img{
    transition: all .4s;
    transition-delay: .5s;
}

.works .portfolio:hover img{
    transform: scale(1.2,1.2);    
}
.profile{
    background-color: #f5f5f5;

}

.profile-info{

    background-color: #fff;
    padding: 75px 100px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    max-width: 750px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;

}

.profile-info img{
    border-radius: 50%;
    width: 100px;
    margin-top: -125px;

}

.profile .carousel-indicators .active {
    background-color: #00c3da;

}

.profile .carousel-control-next, .carousel-control-prev {

    color:black;
}

*/
/*categories*/
.categories  img{
    
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}
.categories .categoryName{
     font-weight: bold;
     font-size: 30px;
     padding:0 30px;
     border-bottom: 1px solid #007373;
}
.categories .content{
   margin-top:10%;
    margin-bottom: 10%;
}
.categories a{
    cursor: pointer;
    background-color: #007373;
    border: none;
}
.categories .start{
    margin-top: 17%;
}
.categories a:hover{
      background-color: lightgray;
    border:none;
    color:#007373;   
}
.categories .bigger:hover{
    transform:scale(1.2,1.3);
    z-index:585512555555555;
    cursor: pointer;
}
